*{
  margin: 0;
  padding: 0;
}
body{
  font-family: Consolas;
  background-color: #0fea751c;
  color: #222;
  text-align: center;
  line-height: 1.3;
}

main{
  display: grid;
  place-items: center;
  min-height: 100vh;
}

h1{
  font-size: 3rem;
  margin-bottom: 1rem;
  color: #133069;
}

@media screen and (min-width: 800px){

  h1{
    font-size: 4rem;
  }
}

span{
  font-size: 7rem;
  margin-bottom: 3rem;
}

button{
  text-transform: uppercase;
  font-family: Consolas;
  background-color: transparent;
  font-size: 1.2rem;
  padding: 0.6rem 0.7rem;
  border-radius: 11px;
  cursor: pointer;
  color: #222;
  border: 2px solid #240240;
  margin: 0rem 1rem;
  padding-bottom: 0.8rem;
  display: inline-block;
  transition: 0.2s;
  font-weight: 500;
}
button:hover{
  color: white;
  background-color: #222;
  font-weight: 700;
}